body {
background-image: repeating-linear-gradient(45deg, #FF7E00 40px, #E3DDE6 60px);
font-family: "Copperplate";
}
header, main, footer {
background-color:  #FFA54D;
color: black;
}
a, h1, h3 {
color: #A64819;
}
