body {
background-image: repeating-linear-gradient(180deg, #111111 40px, black 60px);
font-family: "Courier New";
}
header, main, footer {
color: chartreuse;
}
a {
color: darkseagreen;
}
div.box {
    border: 6px dashed lime !important;
    margin: 20px;
    padding: 15px;
}
